@import "options";
@import "normalize";
@import "formalize";

html {
    font-size: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: $base-font-weight-normal;
}

.icon {
    display: inline-block;
    fill: currentColor;
    width: 24px;
    height: 24px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    font-weight: $base-font-weight-normal;
}

//////////////////////////////

.time {
    min-height: 50px;
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    color: #fff;
    background-color: #999;
    transition: $transition;

    &-content {
        position: relative;
        width: 100%;
        margin: 0 20px;
    }

    &_name {
        font-size: 1.4rem;
        font-weight: $base-font-weight-light;
        margin-bottom: .4rem;
        opacity: .7;

        .time--active & {
            font-size: 1.8rem;
            opacity: 1;
        }
    }

    &_countdown {
        font-weight: $base-font-weight-bold;
        letter-spacing: .1rem;
        text-shadow: 0 1px 1px rgba(black, .2);
        transition: $transition;
        font-size: 0;
        height: 0;
        visibility: hidden;
        opacity: 0;

        .time--active & {
            font-size: 6rem;
            height: auto;
            visibility: visible;
            opacity: 1;
            margin-bottom: .5rem;
        }

        span {
            font-size: 3rem;
            font-weight: $base-font-weight-light;
            margin-left: .2rem;
        }
    }

    &_time {
        font-size: 2rem;
        font-weight: normal;
        letter-spacing: .05rem;
        text-shadow: 0 1px 1px rgba(black, .2);
        opacity: .8;
        transition: $transition;

        .time--active & {
            opacity: 1;
        }
    }

    &_icon {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: $transition;
        opacity: 0;

        .time--active & {
            opacity: .5;
        }
    }
}

.times {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;

    @for $i from 1 through length($times) {
        &[data-time="#{nth($times, $i)}"] {
            @for $j from 1 through length($times) {
                .time--#{nth($times, $j)} {
                    flex: #{nth(nth($sizes, $i), $j)} 0 auto;
                    background-color: #{nth(nth($themes, $i), $j)};
                }
            }
        }
    }
}